/* Custom Header Styles */
.header {
  padding: 0 30px;
  background-color: #272B3A;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo Styling */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

/* Desktop Menu Styles */
.desktop-menu {
  flex-grow: 1;
  justify-content: flex-end;
  background-color: #272B3A;
  display: flex;
}

.menu-link {
  color: #f0f0f0 !important;
  font-size: 16px;
  font-weight: 500;
  padding: 0 20px;
  text-transform: none;
  transition: background-color 0.3s;
}

.menu-link.active,
.menu-link:hover {
  background-color: #676A75 !important;
  color: #fff !important;
  border-radius: 10px !important;
  border-color: white ;
}

/* Button style on selected menu */
.menu-link.active {
  background-color: #676A75;
  color: #fff !important;
}

/* Mobile Menu Icon */
.menu-icon {
  display: none;
  color: #f0f0f0;
  font-size: 24px;
}

/* Drawer Styles */
.ant-drawer-body {
  padding: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  .menu-icon {
    display: inline-block;
  }

  .header {
    padding: 0 20px;
  }

  .logo {
    flex: 1;
    justify-content: center;
  }
}
.custom-menu .ant-menu-item a {
  color: white; /* Keep the text color white */
}

.custom-menu .ant-menu-item:hover {
  background-color: #676A75 !important; /* Change hover background color */
}

.custom-menu .ant-menu-item-selected {
  background-color: #676A75 !important; /* Change selected item background color */
  color: white; /* Keep selected text color white */
}

.custom-menu .ant-menu-item-selected a {
  color: white !important; /* Ensure selected link text stays white */
}
