.icast-container {
  background-color: white;
  padding: 50px 20px;
  text-align: center;
}

.icast-title {
  color: black !important;
  font-size: 45px !important;
  font-weight: bold !important;
}

.icast-card {
  background-color:white;
  border-radius: 12px;
  padding: 30px;
}

.icast-item-card {
  background-color: #2c2c3e;
  padding: 0px;
  text-align: center;
  height: 145px; /* Adjust this height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
}

.icast-item-card:hover {
  transform: scale(1.05);
}

.icast-item {
  color: #b0b0b0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icast-value {
  font-size: 18px !important;
  color: #ffffff !important;
  margin-top: 10px;
}

.icast-label {
  color: white !important;
  font-size: 18px !important;
  margin-top: 5px;
  font-weight: 500 !important;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .icast-container {
    padding: 30px 10px;
  }

  .icast-value {
    font-size: 18px !important;
  }

  .icast-label {
    font-size: 14px !important;
  }
}
