.sponsors-container {
    text-align: center;
    padding:  40px 20px;
    background-color: #2C2C3E;
  }
  
  .sponsors-title {
    color: #2f2f2f;
    font-size: 45px !important;
    font-weight: bold !important;
    margin-bottom: 20px;
    font-family: "Inter", serif;
    text-align: justify !important;
  }
  
  .sponsor-card {
    background-color: transparent !important;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
   box-shadow: none !important;
  border: transparent !important;
    height: 50%
  }
  
  .sponsor-logo img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-bottom: 15px;
  }
  
  .sponsor-name {
    color: black;
    font-size: 15px !important;    margin: 0;
    font-weight: bold !important;
    font-family: "Inter", serif !important;
  }
  
  .sponsor-company {
    color: #6c6c6c;
  }
  